body {
    background-color: rgb(28, 27, 27);
    color: white;
}

h1 {
    margin-left: 50px;
}

li {
    font-size: 2rem;

}

.delete {
    background-color: red;
        color: white;
        border-radius: 5px;
        border-style: none;
        font-size: 1.5rem;
        display: inline;
        cursor: pointer;
        margin-left: 5px;
}


